<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.faker.notify.dao.SecretPhoneMapper" >
  <resultMap id="BaseResultMap" type="com.faker.notify.entity.SecretPhone" >
    <id column="secret_id" property="secretId" jdbcType="BIGINT" />
    <result column="secret_phone" property="secretPhone" jdbcType="VARCHAR" />
    <result column="relation_id" property="relationId" jdbcType="BIGINT" />
    <result column="source_phone" property="sourcePhone" jdbcType="VARCHAR" />
    <result column="target_phone" property="targetPhone" jdbcType="VARCHAR" />
    <result column="need_record" property="needRecord" jdbcType="TINYINT" />
    <result column="expired_date" property="expiredDate" jdbcType="TIMESTAMP" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="sys_time" property="sysTime" jdbcType="TIMESTAMP" />
    <result column="is_deleted" property="isDeleted" jdbcType="TINYINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    secret_id, secret_phone, relation_id, source_phone, target_phone, need_record, expired_date, 
    remark, create_time, sys_time, is_deleted
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from notify_secret_phone
    where secret_id = #{secretId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from notify_secret_phone
    where secret_id = #{secretId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.faker.notify.entity.SecretPhone" >
    insert into notify_secret_phone (secret_id, secret_phone, relation_id, 
      source_phone, target_phone, need_record, 
      expired_date, remark, create_time, 
      sys_time, is_deleted)
    values (#{secretId,jdbcType=BIGINT}, #{secretPhone,jdbcType=VARCHAR}, #{relationId,jdbcType=BIGINT}, 
      #{sourcePhone,jdbcType=VARCHAR}, #{targetPhone,jdbcType=VARCHAR}, #{needRecord,jdbcType=TINYINT}, 
      #{expiredDate,jdbcType=TIMESTAMP}, #{remark,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{sysTime,jdbcType=TIMESTAMP}, #{isDeleted,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" parameterType="com.faker.notify.entity.SecretPhone" >
    insert into notify_secret_phone
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="secretId != null" >
        secret_id,
      </if>
      <if test="secretPhone != null" >
        secret_phone,
      </if>
      <if test="relationId != null" >
        relation_id,
      </if>
      <if test="sourcePhone != null" >
        source_phone,
      </if>
      <if test="targetPhone != null" >
        target_phone,
      </if>
      <if test="needRecord != null" >
        need_record,
      </if>
      <if test="expiredDate != null" >
        expired_date,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="sysTime != null" >
        sys_time,
      </if>
      <if test="isDeleted != null" >
        is_deleted,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="secretId != null" >
        #{secretId,jdbcType=BIGINT},
      </if>
      <if test="secretPhone != null" >
        #{secretPhone,jdbcType=VARCHAR},
      </if>
      <if test="relationId != null" >
        #{relationId,jdbcType=BIGINT},
      </if>
      <if test="sourcePhone != null" >
        #{sourcePhone,jdbcType=VARCHAR},
      </if>
      <if test="targetPhone != null" >
        #{targetPhone,jdbcType=VARCHAR},
      </if>
      <if test="needRecord != null" >
        #{needRecord,jdbcType=TINYINT},
      </if>
      <if test="expiredDate != null" >
        #{expiredDate,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sysTime != null" >
        #{sysTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDeleted != null" >
        #{isDeleted,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.faker.notify.entity.SecretPhone" >
    update notify_secret_phone
    <set >
      <if test="secretPhone != null" >
        secret_phone = #{secretPhone,jdbcType=VARCHAR},
      </if>
      <if test="relationId != null" >
        relation_id = #{relationId,jdbcType=BIGINT},
      </if>
      <if test="sourcePhone != null" >
        source_phone = #{sourcePhone,jdbcType=VARCHAR},
      </if>
      <if test="targetPhone != null" >
        target_phone = #{targetPhone,jdbcType=VARCHAR},
      </if>
      <if test="needRecord != null" >
        need_record = #{needRecord,jdbcType=TINYINT},
      </if>
      <if test="expiredDate != null" >
        expired_date = #{expiredDate,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sysTime != null" >
        sys_time = #{sysTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDeleted != null" >
        is_deleted = #{isDeleted,jdbcType=TINYINT},
      </if>
    </set>
    where secret_id = #{secretId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.faker.notify.entity.SecretPhone" >
    update notify_secret_phone
    set secret_phone = #{secretPhone,jdbcType=VARCHAR},
      relation_id = #{relationId,jdbcType=BIGINT},
      source_phone = #{sourcePhone,jdbcType=VARCHAR},
      target_phone = #{targetPhone,jdbcType=VARCHAR},
      need_record = #{needRecord,jdbcType=TINYINT},
      expired_date = #{expiredDate,jdbcType=TIMESTAMP},
      remark = #{remark,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      sys_time = #{sysTime,jdbcType=TIMESTAMP},
      is_deleted = #{isDeleted,jdbcType=TINYINT}
    where secret_id = #{secretId,jdbcType=BIGINT}
  </update>
</mapper>