<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
	<Properties>
		<property name="baseDir">../logs</property>
	</Properties>
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
		</Console>

		<RollingFile name="RollingFile" fileName="${baseDir}/notify.log"
			filePattern="${baseDir}/$${date:yyyy-MM-dd}/${appName}-%d{yyyy-MM-dd-HH}-%i.log.gz">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
			<Policies>
				<TimeBasedTriggeringPolicy interval="8"
					modulate="true" />
				<SizeBasedTriggeringPolicy size="256 MB" />
			</Policies>
			<DefaultRolloverStrategy max="100">
				<Delete basePath="${baseDir}" maxDepth="2">
					<IfFileName glob="*/${appName}-*.log.gz" />
					<IfLastModified age="7D" />
				</Delete>
			</DefaultRolloverStrategy>
		</RollingFile>

	</Appenders>
	<Loggers>

		<Root level="INFO">
			<AppenderRef ref="Console" />
			<AppenderRef ref="RollingFile" />

		</Root>
		
	</Loggers>
</Configuration>